#body-image{
    background-image: url("img/index.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'montserrat', sans-serif;
}
.brand h1{
    font-family: 'Eagle Lake', cursive;
}
.form-group{
    margin-top: 30px!important;
}
a{
    color: #D31027;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
}
.form-group input{
    background-color: transparent!important;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    outline: none;
    width: 150px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}
.form-group input:focus{
    width: 200px;
}
