<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>{% block title %}BMU Ping{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/profile_page.css' %}"/>
    <link rel="shortcut icon" href="{% static 'dashboard/img/Ping.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-inverse navbar-custom bg-dark">
    <div class="container">
  <a class="navbar-brand" href="{% url 'dashboard:dashboard' %}"><img src="{% static 'dashboard/img/PingAlt.png' %}" class="img-responsive" width="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'dashboard:dashboard' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="{{ request.GET.data }}">
      <button class="btn btn-sm btn-search my-2 my-sm-0" type="submit">Search</button>
    </form>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:post' %}">Post</a>
      </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Message</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          @{{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'dashboard:profile_page' %}">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'dashboard:logout_user' %}">Logout</a>
        </div>
      </li>
    </ul>
  </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>