{% extends 'dashboard/base.html' %}
{% block title %} Comment {% endblock %}
{% block body %}
<div class="container">
    <form class="row" style="margin-top: 50px;">
        <div class="col-lg-8 col-sm-12">
            <img src="{{ post.post_pic.url }}" class="img-responsive" style="width: 100%; height: 100%;"/>
        </div>
        <div class="col-lg-4 col-sm-12">
            <h5>{{ post.post_by }}'s post</h5>
            <p>{{ post.post_text }}</p>
            <p>
                {% if post.saved %}
                    <em>#saved</em>
                {% endif %}
            </p>
            {% if comments %}
                {% for comment in comments %}
                    <h6>{{ comment.comment_by }}:</h6> <p>{{ comment.comment_text }}</p>
                {% endfor %}
            {% else %}
                <h6> No comments yet! Be the first one to comment. </h6>
            {% endif %}
            <br />
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
             <div class="form-group">
                <label for="comment">Add your comment: </label>
                <textarea class="form-control" id="comment" rows="3"></textarea>
             </div>
            <button type="submit" class="btn btn-lg btn-settings">Submit</button>
            </form>
    </div>
</div>
{% endblock %}