{% extends 'dashboard/base.html' %}
{% block title %} Post {% endblock %}
{% block body %}
<div class="container" style="margin-top: 50px;!important">
    <div class="row">
        <div class="col-sm-12 col-md-7">
                    <h3>What's on your mind?</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'dashboard/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>

        </div>
    </div>
</div>
{% endblock %}